<td class="align-middle">{{ civility.code }}</td>
<td class="align-middle">
  <a
    href="#"
    (click)="$event.preventDefault(); onUpdate(civility.id)"
    class="h5"
    title="{{ 'UPDATE_ELEM' | translate }}"
  >
    {{ civility.name }}
  </a>
</td>
<td class="align-middle">
  <div class="float-right actions">
    <app-actions-item
      [withEdit]="authorization.update"
      [withDelete]="authorization.delete"
      (delete)="onDelete(civility.id)"
      (edit)="onUpdate(civility.id)"
    ></app-actions-item>
  </div>
</td>
