<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  <div formGroupName="plainPassword">
    <app-text-input
      formControlName="first"
      label="{{ 'PASSWORD' | translate }}"
      helpText="{{ 'HELP_PASSWORD_FIELD' | translate }}"
      type="password"
      [submitted]="submitted"
    ></app-text-input>

    <app-text-input
      formControlName="second"
      label="{{ 'PASSWORD_CONFIRMATION' | translate }}"
      type="password"
      [showError]="showErrorPasswordEqual"
      errorText="{{ 'FIELD_PASSWORD_MUST_BE_EQUAL' | translate }}"
    ></app-text-input>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      [disabled]="processing"
      translate
    >
      UPDATE_MY_PASSWORD
    </button>
  </div>
</form>
