// rewrite bootstrap variable here
// $icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$odissea-secondary-color: #398bce;
$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$link-color: #000;
$link-hover-decoration: none;
$link-hover-color: #398bce;

$modal-header-border-color: transparent;
$modal-content-border-color: transparent;

$input-btn-focus-width: 0;
$enable-shadows: false;

@import 'variables';
@import 'node_modules/bootstrap-scss/mixins';
@import 'node_modules/bootstrap-scss/root';
@import 'node_modules/bootstrap-scss/reboot';
@import 'node_modules/bootstrap-scss/type';
//@import 'node_modules/bootstrap-scss/images';
@import 'node_modules/bootstrap-scss/code';
@import 'node_modules/bootstrap-scss/grid';
@import 'node_modules/bootstrap-scss/tables';
@import 'node_modules/bootstrap-scss/forms';
@import 'node_modules/bootstrap-scss/buttons';
@import 'node_modules/bootstrap-scss/transitions';
@import 'node_modules/bootstrap-scss/dropdown';
@import 'node_modules/bootstrap-scss/button-group';
@import 'node_modules/bootstrap-scss/input-group';
@import 'node_modules/bootstrap-scss/custom-forms';
@import 'node_modules/bootstrap-scss/nav';
@import 'node_modules/bootstrap-scss/navbar';
@import 'node_modules/bootstrap-scss/card';
// @import 'node_modules/bootstrap-scss/breadcrumb';
// @import 'node_modules/bootstrap-scss/pagination';
// @import 'node_modules/bootstrap-scss/badge';
// @import 'node_modules/bootstrap-scss/jumbotron';
@import 'node_modules/bootstrap-scss/alert';
@import 'node_modules/bootstrap-scss/progress';
// @import 'node_modules/bootstrap-scss/media';
@import 'node_modules/bootstrap-scss/list-group';
// @import 'node_modules/bootstrap-scss/close';
@import 'node_modules/bootstrap-scss/modal';
// @import 'node_modules/bootstrap-scss/tooltip';
// @import 'node_modules/bootstrap-scss/popover';
// @import 'node_modules/bootstrap-scss/carousel';
@import 'node_modules/bootstrap-scss/spinners';
@import 'node_modules/bootstrap-scss/utilities';
@import 'node_modules/bootstrap-scss/print';
@import 'toaster.scss';

$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('assets/fonts/Roboto-regular/Roboto-regular.eot?#iefix')
      format('embedded-opentype'),
    local('Roboto'), local('Roboto-regular'),
    url('assets/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
    url('assets/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
    url('assets/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
    url('assets/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url('assets/fonts/Roboto-bold/Roboto-bold.eot');
  src: url('assets/fonts/Roboto-bold/Roboto-bold.eot?#iefix')
      format('embedded-opentype'),
    local('Roboto'), local('Roboto-bold'),
    url('assets/fonts/Roboto-bold/Roboto-bold.woff') format('woff'),
    url('assets/fonts/Roboto-bold/Roboto-bold.ttf') format('truetype'),
    url('assets/fonts/Roboto-bold/Roboto-bold.svg#Roboto') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/Roboto-medium/Roboto-medium.eot');
  src: url('assets/fonts/Roboto-medium/Roboto-medium.eot?#iefix')
      format('embedded-opentype'),
    local('Roboto'), local('Roboto-medium'),
    url('assets/fonts/Roboto-medium/Roboto-medium.woff') format('woff'),
    url('assets/fonts/Roboto-medium/Roboto-medium.ttf') format('truetype'),
    url('assets/fonts/Roboto-medium/Roboto-medium.svg#Roboto') format('svg');
}

/**** General styles ****/

.table-hover tbody tr:hover {
    background-color:$gray-100;
}


.button-validation-action {
  > button:not(:last-child) {
    margin: 0 map-get($spacers, 1);
  }

  > button:last-child {
    margin-left: map-get($spacers, 1);
    margin-right: 0px;
  }

  > button:first-child {
    margin-right: map-get($spacers, 1);
    margin-left: 0px;
  }
}

.app-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(61, 70, 79, 0.86);
  z-index: 9998;
  animation: fadeInBackdrop 0.26s ease forwards;
}

@keyframes fadeInBackdrop {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
